/* Set the header to be semi-transparent and stick to the top */
header {
    text-align: center;

    width: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    /* Adjust the alpha value to control transparency */
    margin: 0 25% 0 25%;

    border-radius: 1em;
    border: 4px solid;
}

.nav {
    border: 5px solid red;
    border-radius: 1em;

}

/* box around each item*/
.container {
    display: grid;

    padding: 1em;
    gap: 1em;

    border: 4px solid;
    border-radius: 1em;

    background-color: rgba(0, 0, 0, 0.1);
}

/* individual item boxes */
.item {
    border: 4px solid;
    border-radius: 1em;

    box-shadow: 0 2px 4px rgba(50, 50, 50, 0.8);

    padding: 0rem 1rem 0rem 1rem;
    /* top right bottom left */
}

h1 {
    text-align: center;
}